.ant-input-disabled {
  background-color: white !important;
}

.ant-btn-primary {
  background-color: rgb(76, 85, 99) !important;
  color: white !important;
}

.ant-btn-primary:hover {
  background-color: rgba(57, 64, 80, 1) !important;
}

.ant-spin-nested-loading {
  height: 100%;
}

.ant-spin-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ant-checkbox-wrapper {
  margin-inline-start: 0 !important;
}

.ant-select-disabled {
  background: rgba(255, 255, 255, 1) !important;
  border-radius: 6px !important;
  background-color: #ffffff !important;
}

.ant-select-selector {
  background: rgba(255, 255, 255, 1) !important;
}

.ant-picker-disabled {
  background: rgba(255, 255, 255, 1) !important;
}

.ant-pagination-options {
  display: none !important;
}
